<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <h3>Lista de Zonas Básica de Salud Confinadas</h3>
        <ul class="mt-3 ms-3">
            <li class="text-black-50 fs-4">Leganes Norte</li>
            <li class="text-black-50 fs-4">Majadahonda</li>
            <li class="text-black-50 fs-4">La Princesa</li>
            <li class="text-black-50 fs-4">Las Rozas</li>
        </ul>
    </div>

    <div class="col-12 offset-md-1 col-md-5">
        <div class="row">
            <div class="col-12">
                <h3>Número de Contagiados</h3>
                <div class="row">
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Casos Totales </p>
                        <p class="text-primary fs-4 fw-bold float-end">700.238</p>
                    </div>
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Casos Últimas 24 horas </p>
                        <p class="text-primary fs-4 fw-bold float-end">1.350</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h3>Ocupacion Hospitalaria</h3>
                <div class="row">
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Ocupacion UCI Total </p>
                        <p class="text-primary fs-4 fw-bold float-end">72.46%</p>
                    </div>
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Ocupacion UCI Covid-19 </p>
                        <p class="text-primary fs-4 fw-bold float-end">41.4%</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h3>Porcentaje de Vacunación</h3>
                <div class="row">
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Pauta Completa </p>
                        <p class="text-primary fs-4 fw-bold float-end">9.3%</p>
                    </div>
                    <div class="col-12">
                        <p class="text-black-50 fs-4 float-start">Una Dosis </p>
                        <p class="text-primary fs-4 fw-bold float-end">20.1%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-primary btn-block" href="assets/210505_cam_covid19.pdf" download="Datos_Sanitarios">
                Descargar Datos Sanitarios
            </a>
        </div>    
    </div>
    
</div>
